  <h1 id="home"> Gig </h1>
  <h2 id="choose">Choose your musician by...</h2>
  <div class="main-nav">
    <div id="home-page-navigation" class="column panel callout small-9 small-centered">
      <h1> <%= link_to 'Instruments', instruments_path %> </h1>
    </div>
    <div id="home-page-navigation" class="column panel callout small-9 small-centered">
      <h1> <%= link_to 'Genres', instruments_path %> </h1>
    </div>
  </div>
