
 .main-navigation ul{
text-align: center;
align-items: center;
margin-left:auto;
margin-right: auto;
margin-bottom: 2em;
}

.top-bar-section ul li > a {
  font-size: 1.1rem;
  background-color: black !important;
}

.top-bar-section li a{
  background-color: black !important;
}

ul.left {
  display: inline-block;
}

ul.right {
  display: inline;
}

.top-bar{
  background-color: black;
}


.main-navigation ul li{
display: inline-block;
margin-bottom:  2rem;
margin-top: auto;
text-align: center;
}

#gig{
  display: block;
  align-items: left;
  width: 9rem;
  height: 3rem;
  margin-left: 8%;
}

h1{
  font-size: 9rem;
  color: #901E0C;
  line-height: 20px;
}

#home{
  font-family: 'Neucha';
  margin-top: 100px;
  text-align: center;
  font-size: 9rem;
  color: #B5B5B5;
  text-shadow: 7px 7px 7px black;
}

h3 {
  text-align: center;
  font-size: 3rem;
  color: black;
  text-shadow: 1px 1px 2px red;
}

body {
  background-image: url(https://breakabletoydevelopmentbucket.s3.amazonaws.com/uploads/user/profile_photo/325/_MG_3558_bjhmv0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.top-bar{
  background-color: black;
}

.top-bar-section ul li {
  background-color: black;
}
